#-----------------------------------------------------------
# Mac BS

*.DS_Store

#-----------------------------------------------------------
# LaTeX Stuff

*.aux
*.dvi
*.log
*.ps
*.fls
*.fdb_latexmk
*.pdf
*.toc
*.out
*.synctex.gz

#-----------------------------------------------------------
# Project

dist*/
!assets/*.pdf
*.kpf

#-----------------------------------------------------------